extends ../layouts/main

block prepend head
    - var title = `#${tag}`

block append head
    - var description = `Writings tagged as #${tag}`
    meta(property='og:description' content=description)
    meta(property='og:url' content=rootUrl(`/tags/${tag}.html`))
    meta(property='description' content=description)

block content
    +header
    +personal-board-small
    if postsByTag.length > 0
        h2.mt-0
            span Tagged as&nbsp;
            span.p-color=`#${tag}`
        each post in postsByTag
            +post-summary(post)
    else
        p.meta-color.text-center
            span There is no articles tagged as&nbsp;
            span.p-color=`#${tag}`

