mixin personal-board
    div.personal-board
        div.avatar
            img.avatar__image(src=url('/images/avatar_scarlet.png') alt=siteName)
        h2=me.fullname
            | &nbsp;(
            a(href=me.github target='_blank')=me.nickname
            | )
        p
            span A software developer with&nbsp;
            span.nowrap a curious mind.
        p I'm currently interested in&nbsp;
            | <strong>
            a(href=url('/tags/blockchain.html')) #blockchain
            | </strong>,&nbsp;
            | <strong>
            a(href=url('/tags/polkadot.html')) #polkadot
            | </strong> and&nbsp;
            | <strong>
            a(href=url('/tags/rust.html')) #rust
            | </strong>.
    hr

mixin personal-board-small
    div.personal-board
        div.avatar
            img.avatar__image.avatar__image_small(src=url('/images/avatar_scarlet.png') alt=siteName)
        h3=me.fullname
            | &nbsp;(
            a(href=me.github target='_blank')=me.nickname
            | )
    hr
